doctype html
html
  head
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/Swiper/dist/css/swiper.min.css')
    link(rel='stylesheet', href='/animate.css/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Learning WebSockets with Socket.io
  body
    #wrapper.flex-container
      #video-container.flex-item
        div(style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;")
          iframe#video(style="position: absolute; top: 0; left: 0;", width="100%", height="100%" src="//embed.wirewax.com/8039347/?fullBleed=true", frameborder="0", scrolling="yes", allowfullscreen)
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
    script(src='/Swiper/dist/js/swiper.jquery.min.js')
    script(src='https://edge-player.wirewax.com/ww4release/javascripts/wirewax-iframe-api.js')
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://waxmote.herokuapp.com')
      window.wirewax.playerId = "video";
      socket.on('connect', function() {
        var id = socket.id
        console.log('connected!', id)
      })

      socket.on("play", function() {
        console.log("playing video")
        closeOverlay()
        playVideo()
      })

      window.playVideo = function() {
        window.wirewax.triggerEvent(window.wirewax.events.triggers.PLAY);
      }
      
      window.wirewax.addEventListener(window.wirewax.events.listeners.TAG_CLICK, function(data) {
        console.log(data.data.tagData);
        socket.emit('tag-clicked', data.data.tagData )
      });

      window.closeOverlay = function() {
        window.wirewax.triggerEvent(window.wirewax.events.triggers.CLOSE_WIDGET);
      }
