doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Learning WebSockets with Socket.io
  body
    p desktop version
    div#room
    div#video-container
    input(id="code" type="text", name="code" placeholder="enter video id")
    button(id="submit").
      Start Video
    button(id="ping").
      PING!
  script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous" )
  script(src="https://edge-player.wirewax.com/ww4release/javascripts/wirewax-iframe-api.js")
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://localhost:3000')

    $("#submit").on("click", function() {
      videoId = $("#code").val()
      loadVideo(videoId)
    })

    function loadVideo() {
     var iframe = '<iframe id="video" width="800" height="600" src="//embed.wirewax.com/8039347/ff0044/" frameborder="0" scrollable="false" allowfullscreen></iframe>'
     $("#video-container").html(iframe)
     window.wirewax.playerId = "video";
    }

    socket.on('connect', function() {
      var id = socket.id
      console.log('connected!', id)
    })

    socket.on('news', function(data) {
      console.log(data.msg)
    })

    socket.on('play', function() {
      console.log("playing video")
      closeOverlay()
      playVideo()
    })

    socket.on('pause', function() {
      console.log("pausing video")
      pauseVideo()
    })

    socket.on('seekForward', function() {
      console.log("skipping")
      seekVideo(10)
    })

    socket.on('seekBackward', function() {
      console.log("rewinding")
      seekVideo(-10)
    })

    $("#ping").on('click', function() {
      console.log("ping")
      socket.emit('createRoom', "HQ")
    })

    window.playVideo = function() {
      window.wirewax.triggerEvent(window.wirewax.events.triggers.PLAY);
    }

    window.pauseVideo = function() {
      window.wirewax.triggerEvent(window.wirewax.events.triggers.PAUSE);
    }

    window.seekVideo = function(time) {
      window.wirewax.triggerEvent(window.wirewax.events.triggers.SEEK, 30);
    }

    window.closeOverlay = function() {
      window.wirewax.triggerEvent(window.wirewax.events.triggers.CLOSE_WIDGET);
    }

    window.wirewax.addEventListener(window.wirewax.events.listeners.TAG_CLICK, function(data) {
      console.log(data.data.tagData);
      socket.emit('tag-clicked', data.data.tagData )
    });