doctype html
html
  head
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/Swiper/dist/css/swiper.min.css')
    link(rel='stylesheet', href='/animate.css/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Learning WebSockets with Socket.io
  body
    #wrapper.flex-container
      #overlay.flex-item
        #suit.hide
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                img(src='http://images.tedbakerimages.com/row%2FMens%2FClothing%2FShop-All%2FWELLER-Moulin%C3%A9-blazer-Blue%2FTS6M_WELLER_14-BLUE_4.jpg.jpg?o=TFc7$iIZ7LOkBLv6edOIBkx10eQj&V=L5t7&w=1024%26h=1280%26q=80', width='100%')
              .swiper-slide
                img(src='http://images.tedbakerimages.com/row%2FMens%2FClothing%2FSuits%2FHIKICKJ-Debonair-checked-wool-jacket-Red%2FRS6M_HIKICKJ_45-RED_1.jpg.jpg?o=9BUDu$xsFRIhyqfR3tjzayMn7f8j&V=qajt&w=1024%26h=1280%26q=80', width='100%')
              .swiper-slide
                img(src='http://images.tedbakerimages.com/row%2FMens%2FClothing%2FSuits%2FCONNERY-Moulin%C3%A9-check-jacket-Charcoal%2FTA6M_CONNERY_03-CHARCOAL_1.jpg.jpg?o=cOrdnxPwvBGmVv57JxfMBf1LZBwj&V=RDOx&w=1024%26h=1280%26q=80', width='100%')
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev
        #share
        #promo.hide
          p
            | use promo code 
            span TEDAW16
            |  next time you shop
          #join
            p for more ways to save, join our savings mailing list!
            input(type='text', placeholder='email address')
            button Join
        #resume.hide
          p Continue Video
  script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
  script(src='/Swiper/dist/js/swiper.jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://localhost:3000')
    
    socket.on('connect', function() {
      var id = socket.id
      console.log('connected!', id)
    })
    
    socket.on('suit-overlay', function(data) {
      console.log('open overlay on device', data)
      $("#suit").removeClass("hide")
      $("#resume").removeClass("hide")
      $("#suit").addClass("animated bounceInUp")

      var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationType: 'progress',
        spaceBetween: 30,
        loop: true
      });
    })

    socket.on('promo-overlay', function(data) {
      console.log('open overlay on device', data)
      $("#promo").removeClass("hide")
      $("#resume").removeClass("hide")
      $("#promo").addClass("animated bounceInUp")
    })
    
    $('#resume').on("click", function() {
      socket.emit('start')
      console.log("start");
      closeOverlays()
    })

    function closeOverlays() {
      $("#suit").addClass("hide")
      $("#resume").addClass("hide")
      $("#share").addClass("hide")
      $("#promo").addClass("hide")
    }
